:root {
  --deep-blue: #121932;
  --light-blue: #4e5f86;
  --white: #fff;
}

.categories-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
  color: var(--deep-blue);
}
.categories-block-note {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--light-blue);
  letter-spacing: 0.05rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
  margin-top: 0.6rem;
}
.big-box {
  grid-column: 1 / span 1;
  height: 31.8rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}
.big-box:hover{
    transform: scale(1.03);
}
.big-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

