.categories-title h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.category-block-note {
  text-align: center;
  font-size: 1.2rem;
  color: var(--light-blue);
  letter-spacing: 0.05rem;
}
.clothing-categories-container {
  margin: 3.125rem 6.25rem 2.5rem 6.25rem;
}

.clothing-categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.25rem;
  grid-template-rows: repeat(2, 1fr);
  margin-top: 0.625rem;
}

.category:nth-child(1) {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  /* grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3; */
}
.category:nth-child(2){
grid-row: 1 / span 2;
grid-column: 3 / span 1;
}
/* 
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
 */
