.desk-footer {
    background-color: var(--deep-blue);
    color: var(--white);
    padding: 3.125rem 0;
    margin-top: auto;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
}

.footer-section {
    width: 25%;
    padding: 0 1.25rem;
}

.footer-heading {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.contact-list,
.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li,
.links-list li {
    margin-bottom: 0.625rem;
}

.links-list a {
    text-decoration: none;
    color: var(--white);
}

.links-list a:hover {
    color: var(--bright-blue);
    text-decoration: none;
    text-decoration-color: var(--bright-blue);
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list li {
    margin: 0.5rem;
}

.social-list a {
    color: var(--white);
    font-size: 1.2rem;
}

.social-list a:hover {
    color: var(--bright-blue);
}

.desk-footer-bottom{
    max-width: 75rem;
    margin: 1.25rem auto 0;
    font-size: 1rem;
    text-align: center;
}
