.banner{
   background-size: cover;
   background-position: center top;
   height: 34.3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   animation: slideshow 25s infinite;
   background-size: cover;
}

@keyframes slideshow {
    0% {
        background-image: url("https://res.cloudinary.com/dptfwcnro/image/upload/v1683867706/E-comm%20ATTIREX/carousel1_xdmpbx.jpg");
    }
    66.67%{
        background-image: url("https://res.cloudinary.com/dptfwcnro/image/upload/v1683867723/E-comm%20ATTIREX/carousel2_ubxgzo.jpg");
    }
    100% {
        background-image: url("https://res.cloudinary.com/dptfwcnro/image/upload/v1683867713/E-comm%20ATTIREX/carousel3_thepsd.jpg");
    }
}